.border {
    /* border: 1px solid red; */
}

.buttons-block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-area-default-size {
    --sds-c-textarea-sizing-min-height:275px;
}